/** @format */

@import '../../assets/styles/variables.less';

.plain(@color) {
  --lowColor: lighten(@color, 30%);
  background-color: var(--backgroud-color, --lowColor);
  color: @color;
}

.ec-button {
  appearance: none;
  border: none;
  outline: none;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  &.disable {
    cursor: no-drop;
  }
}
.large {
  width: 240px;
  height: 50px;
  font-size: 16px;
  &.round {
    border-radius: 25px;
  }
}
.middle {
  width: 180px;
  height: 50px;
  font-size: 16px;
  &.round {
    border-radius: 25px;
  }
}
.small {
  width: 100px;
  height: 32px;
  font-size: 14px;
  &.round {
    border-radius: 16px;
  }
}
.mini {
  width: 60px;
  height: 32px;
  font-size: 14px;
  &.round {
    border-radius: 16px;
  }
}
.default {
  border-color: @borderColor;
  color: @majorFontColor;
  background: var(--backgroud-color, #fff);
}
.primary {
  border-color: @primary;
  background: @primary;
  color: #fff;
  &.plain {
    .plain(@primary);
  }
}
.success {
  border-color: @success;
  background: @success;
  color: #fff;
  &.plain {
    .plain(@success);
  }
}
.warning {
  border-color: @warning;
  background: @warning;
  color: #fff;
  &.plain {
    .plain(@warning);
  }
}
.error {
  border-color: @danger;
  background: @danger;
  color: #fff;
  &.plain {
    .plain(@danger);
  }
}
.info {
  border-color: @info;
  background: @info;
  color: #fff;
  &.plain {
    .plain(@info);
  }
}

.gray {
  border-color: #ccc;
  background: #ccc;
  color: #fff;
}

.disabled {
  cursor: no-drop;
  pointer-events: none;
  opacity: 0.6;
}
